[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
/.vs
/CommonService/obj
/CommonService/bin
/ContactService/bin
/ContactService/logs
/ContactService/obj
/ContactService/Properties
/EventService/bin
/EventService/logs
/EventService/obj
/EventService/Properties
